body {
    background-color: #000; /* Cambiar por imagen.*/
margin: 0 auto;
	text-align: center;
}

div#footer {
background-image: url("../images/web/fondoWeb.jpg");
background-position: 0% 10%;
height: 500px;
}

div#gameplay{
    background-color: /*#00AFAA*/ #222;
}
canvas {
/*
border:10px solid #000;
*/
border-radius: 5px;
width: 800px;
height: 500px;
	margin: 10px auto;
}

#menu {
    padding-top: 50px;
}

#menu li {
display:inline;
}

#menu li a {
    background-color: black;
color: white;
padding: 10px 20px;
	 text-decoration: none;
	 border-radius: 4px 4px 0 0;
}

#menu li a:hover {
    background-color: #00AFAA;
}
