body {
	margin: 0 auto;
	width: 1500px;
	background-image: url("../images/web/background.jpg");
	background-position: 50% 0%;
	text-align: center;
	font-family: "Arial";
	font-size: 20px;
	letter-spacing: -3px;
}

#main {
	margin: 0 auto;
	text-align: center;
}
img#Logo {
	float: left;
	width: 150px;
	height: 75px;
	padding: 10px;
}
div#first{
	margin: 0 auto;
	text-align:center;
}

div#footer {
	margin: 0px auto;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-image: url("../images/web/fondoWeb.jpg");
	background-position: 0% 10%;
	height: 500px; /*500px;*/
	border-top: 15px solid #111;
	border-bottom: 38px solid #111;
}

canvas {
	border:10px solid #000;
	border-top: 0px;
	border-radius: 5px;
	width:1000px;
	height: 500px;
	margin: 20px auto;
	margin-top: 0px;
}

#menu {
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}

#menu li {
	display:inline;
}

#menu li a {
	background-color: #FFF;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 2px 2px 25px 2px;
}
