body {
    background-color: #123; /* Cambiar por imagen.*/
}

div#main {
margin: 0 auto;
}

canvas {
border:10px solid #000;
}

#menu {
    padding-top: 30px;
}

#menu li {
display:inline;
}

#menu li a {
    background-color: black;
color: white;
padding: 10px 20px;
	 text-decoration: none;
	 border-radius: 4px 4px 0 0;
}

#menu li a:hover {
    background-color: #00AFAA;
}
