body {
	margin: 0 auto;
	/* width: 1500px; */
	background-image: url("../images/web/background.jpg");
	background-position: 50% 0%;
	text-align: center;
	font-family: "Arial";
	font-size: 20px;
	letter-spacing: -3px;
}

.home {
	background-image: url("../images/web/background.jpg");
}

#main {
	margin: 0 auto;
	text-align: center;
}
img#Logo {
	float: left;
	width: 150px;
	height: 75px;
	padding: 10px;
}
div#first{
	margin: 0 auto;
	text-align:center;
}

div#footer {
	margin: 0px auto;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-image: url("../images/web/fondoWeb.jpg");
	background-position: 0% 10%;
	height: 500px; /*500px;*/
	border-top: 15px solid #111;
	border-bottom: 38px solid #111;
}

canvas {
	border:10px solid #000;
	border-top: 0px;
	border-radius: 5px;
	width:1300px;
	height: 700px;
	margin: 20px auto;
	margin-top: 0px;
}

#menu {
	text-align: left;
	position: static;
	padding-top: 30px;
	padding-left: 200px;
	margin: 0 auto;
	/*text-align: center;*/
}

#menu li {
	display:inline;
}

#menu li a {
	background-color: #FFF;
	color: black;
	padding: 10px 50px;
	text-decoration: none;
	border-radius: 2px 2px 25px 2px;
}

.modalmask {
    position: fixed;
    font-family: transformer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
	letter-spacing: 0px;
    width: 700px;
    height: 600px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #FFF;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;    
}
.movedown {
    margin: 0 auto;
}
.modalmask:target .movedown{       
    margin: 10% auto;
}
.close:hover {
    background: #FAAC58;
    color:#222;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
